
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div id="store"></div>

    @section scripts{
        <script src="~/Scripts/ReactScript/dist/store.bundle.js"></script>
    }
</body>

