
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div id="product"></div>

    @section scripts{
        <script src="~/Scripts/ReactScript/dist/product.bundle.js"></script>
    }
</body>
